sectioin.content.middle
    .content__container
        .content__head
        .content__body
        .content__foot

    .content__container
        .content__head
        .content__body
        .content__foot










