-var gunsCarousel = ["anschutz","baikal","beretta","browning","colt","glock","heckler-koch","imi","marlin","mauser","norinco","npz","sw","zid"];

ul.section__list.carousel
    each val,index in gunsCarousel
        li.section__item
            a.section__link(href=link)













