-var gunsBadge = ["browning","colt","mauser","npz","sw","zid"];


.badge
    ul.badge__list
        each val,index in gunsBadge
            li.badge__item
                .badge__container
                    .badge__head=val
                    .badge__body
                        .badge__row
                            .badge__col
                                img(src="css/img/min-gun-"+val+".png", alt="")
                            .badge__col
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis voluptates amet, velit alias iste esse inventore totam hic repellendus a, omnis sit recusandae.
                            .badge__col
                                i.icon.icon-rem
                                i.icon.icon-star
                                i.icon.icon-share
                                i.icon.icon-pinterest
                    .badge__foot best company of the year!








