@import "../../mixins/style.mixins";


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 16px;
    font-family: $font_rg;
    // --------------------------------------
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2b2b2c;
}

html * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
menu,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}