@import "../../mixins/style.mixins";


$tab: #894A61;
.tab,
.tab__container,
.tab__head,
.tab__body,
.tab__foot,
.tab__list,
.tab__item,
.tab__link {
    border: solid 1px $tab;
    background-color: rgba($tab, 0.2);
    padding: 10px;
    margin: 5px 0;
}

// -----------------------
.tab {
    color: darken($tab,25);
    border: solid 5px $tab;
    @include clearfix;
}
.tab__container {
    float: right;
    width: 64%;
}
.tab__head {}
.tab__body {
    background-color: lighten($tab,25);
    background-position: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
}
.tab__foot {}
// -----------------------
.tab__list {
    width: 35%;
    float: left;
}
.tab__item {
    &.active .tab__link {
        color: #fff;
        background-color: #c00;
    }
}
.tab__link {
    text-transform: uppercase;
    display: block;
    &:hover {
        color: #fff;
        background-color: darken($tab,20);
    }
}












