.footer__container
    .wrapper
        .footer__head
        .footer__body
        .footer__foot
.wrapper
    .footer__container
        .footer__head
        .footer__body
        .footer__foot












